# Association Rule Mining

![alt text](arl.png "include arl image")

### Apriori implementaion in python

In [4]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
#import dataset
dataset = pd.read_csv('Market_Basket_Optimisation.csv',header = None)

In [11]:
# See top rows of data
dataset.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Dataset for Apriori is in the form of list of lists.

In [18]:
dataset.length()

AttributeError: 'DataFrame' object has no attribute 'length'

In [16]:
dataset[0]

0                  shrimp
1                 burgers
2                 chutney
3                  turkey
4           mineral water
5          low fat yogurt
6       whole wheat pasta
7                    soup
8       frozen vegetables
9            french fries
10                   eggs
11                cookies
12                 turkey
13              spaghetti
14          mineral water
15          mineral water
16                 shrimp
17                 turkey
18                 turkey
19              meatballs
20               red wine
21                   rice
22              spaghetti
23                burgers
24                   eggs
25        parmesan cheese
26            ground beef
27        sparkling water
28          mineral water
29      frozen vegetables
              ...
7471        mineral water
7472            chocolate
7473     whole wheat rice
7474               turkey
7475               turkey
7476             tomatoes
7477         tomato juice
7478               turkey
7479               shrimp
7480    frozen vegetables
7481            chocolate
7482            chocolate
7483           fresh tuna
7484              cookies
7485      parmesan cheese
7486             red wine
7487                 soup
7488                 eggs
7489             brownies
7490        herb & pepper
7491        herb & pepper
7492            chocolate
7493              burgers
7494               turkey
7495             pancakes
7496               butter
7497              burgers
7498              chicken
7499             escalope
7500                 eggs
Name: 0, Length: 7501, dtype: object